{% extends 'app/base.html' %}

{% block activar_inicio %}class="active"{% endblock %}

{% block content %}
	<div class="jumbotron">
        <h1>Lista de parametros!</h1>
            <table border="2" cellspacing="2" cellpadding="2">
            	<tr>
            		<td><b>nombre</b></td>
            		<td><b>valor</b></td>
            	</tr>
            	{% if ParamMerito or ParamOposicion %}
            	<tr>
                    <td><b>{{ParamMerito.titulo.0.paramprincipal}}</b></td>
                    <td><b>{{ParamMerito.titulo.0.paramprincipal.valor}}</b></td>
                </tr>
            	<tr>
            		<td>{{ParamMerito.titulo.0}}</td>
            		<td>{{ParamMerito.titulo.0.valor}}</td>
            	</tr>
            	<tr>
                    <td>{{ParamMerito.titulo.1}}</td>
                    <td>{{ParamMerito.titulo.1.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.titulo.2}}</td>
                    <td>{{ParamMerito.titulo.2.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.titulo.3}}</td>
                    <td>{{ParamMerito.titulo.3.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.titulo.4}}</td>
                    <td>{{ParamMerito.titulo.4.valor}}</td>
                </tr>
                <tr>
                    <td><b>{{ParamMerito.exp_aca.0.paramprincipal}}</b></td>
                    <td><b>{{ParamMerito.exp_aca.0.paramprincipal.valor}}</b></td>
                </tr>
                <tr>
                    <td>{{ParamMerito.exp_aca.0}}</td>
                    <td>{{ParamMerito.exp_aca.0.valor}}</td>
                </tr>
                <tr>
                    <td><b>{{ParamMerito.exp_inv.0.paramprincipal}}</b></td>
                    <td><b>{{ParamMerito.exp_inv.0.paramprincipal.valor}}</b></td>
                </tr>
                <tr>
                    <td>{{ParamMerito.exp_inv.0}}</td>
                    <td>{{ParamMerito.exp_inv.0.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.exp_inv.1}}</td>
                    <td>{{ParamMerito.exp_inv.1.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.exp_inv.2}}</td>
                    <td>{{ParamMerito.exp_inv.2.valor}}</td>
                </tr>
                <tr>
                    <td><b>{{ParamMerito.exp_pro.0.paramprincipal}}</b></td>
                    <td><b>{{ParamMerito.exp_pro.0.paramprincipal.valor}}</b></td>
                </tr>
                <tr>
                    <td>{{ParamMerito.exp_pro.0}}</td>
                    <td>{{ParamMerito.exp_pro.0.valor}}</td>
                </tr>
                <tr>
                    <td><b>{{ParamMerito.premios.0.paramprincipal}}</b></td>
                    <td><b>{{ParamMerito.premios.0.paramprincipal.valor}}</b></td>
                </tr>
                <tr>
                    <td>{{ParamMerito.premios.0}}</td>
                    <td>{{ParamMerito.premios.0.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.premios.1}}</td>
                    <td>{{ParamMerito.premios.1.valor}}</td>
                </tr>
                <tr>
                    <td><b>{{ParamMerito.publicaciones.0.paramprincipal}}</b></td>
                    <td><b>{{ParamMerito.publicaciones.0.paramprincipal.valor}}</b></td>
                </tr>
                <tr>
                    <td>{{ParamMerito.publicaciones.0}}</td>
                    <td>{{ParamMerito.publicaciones.0.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.publicaciones.1}}</td>
                    <td>{{ParamMerito.publicaciones.1.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.publicaciones.2}}</td>
                    <td>{{ParamMerito.publicaciones.2.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.publicaciones.3}}</td>
                    <td>{{ParamMerito.publicaciones.3.valor}}</td>
                </tr>
                <tr>
                    <td><b>{{ParamMerito.participacion.0.paramprincipal}}</b></td>
                    <td><b>{{ParamMerito.participacion.0.paramprincipal.valor}}</b></td>
                </tr>
                <tr>
                    <td>{{ParamMerito.participacion.0}}</td>
                    <td>{{ParamMerito.participacion.0.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.participacion.1}}</td>
                    <td>{{ParamMerito.participacion.1.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamMerito.participacion.2}}</td>
                    <td>{{ParamMerito.participacion.2.valor}}</td>
                </tr>
                <tr>
                    <td><b>{{ParamMerito.vinculacion.0.paramprincipal}}</b></td>
                    <td><b>{{ParamMerito.vinculacion.0.paramprincipal.valor}}</b></td>
                </tr>
                <tr>
                    <td>{{ParamMerito.vinculacion.0}}</td>
                    <td>{{ParamMerito.vinculacion.0.valor}}</td>
                </tr>
                
                <tr>
                    <td><b>NOMBRE</b></td>
                    <td><b>VALOR</b></td>
                </tr>
                <tr>
                    <td><b>{{ParamOposicion.entrevista.0.paramprincipal}}</b></td>
                    <td><b>{{ParamOposicion.entrevista.0.paramprincipal.valor}}</b></td>
                </tr>
                <tr>
                    <td>{{ParamOposicion.entrevista.0}}</td>
                    <td>{{ParamOposicion.entrevista.0.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamOposicion.entrevista.1}}</td>
                    <td>{{ParamOposicion.entrevista.1.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamOposicion.entrevista.2}}</td>
                    <td>{{ParamOposicion.entrevista.2.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamOposicion.entrevista.3}}</td>
                    <td>{{ParamOposicion.entrevista.3.valor}}</td>
                </tr>
                <tr>
                    <td><b>{{ParamOposicion.prueba.0.paramprincipal}}</b></td>
                    <td><b>{{ParamOposicion.prueba.0.paramprincipal.valor}}</b></td>
                </tr>
                <tr>
                    <td>{{ParamOposicion.prueba.0}}</td>
                    <td>{{ParamOposicion.prueba.0.valor}}</td>
                </tr>
                <tr>
                    <td>{{ParamOposicion.prueba.1}}</td>
                    <td>{{ParamOposicion.prueba.1.valor}}</td>
                </tr>
            	{% else %}
            	<tr>
            		<td>S/N</td>
            		<td>S/V</td>
            	</tr>
            	{% endif %}

            </table>
    </div>
{% endblock %}